<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GuminAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <button id="menu-button">
                <img src="{{ url_for('static', filename='images/menu_icon.png') }}" alt="Menu" class="menu-icon">
            </button>
            <h2>GuminAI</h2>
            <select id="model-select">
                {% for model_key, model_info in models.items() %}
                    <option value="{{ model_key }}">{{ model_info.display_name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- 사이드 메뉴 -->
        <div id="side-menu" class="side-menu">
            <div class="side-menu-content">
                <p>저작권 정보</p>
                <a href="{{ url_for('community.community_page') }}">수민넷 프로토타입</a>
                <a href="#">
                    <img src="{{ url_for('static', filename='images/github_icon.png') }}" alt="GitHub" class="github-icon">
                </a>
                <!-- 기타 내용 -->
            </div>
        </div>
        <!-- 모델 소개 박스 -->
        <div class="model-intro" id="model-intro"></div>
        <!-- 질문 예시 박스 -->
        <div class="example-questions" id="example-questions">
            <button id="toggle-questions">
                <img src="{{ url_for('static', filename='images/arrow_down_icon.png') }}" alt="Toggle Questions">
            </button>            
            <div id="questions-container">
                {% for question in example_questions %}
                    <button class="example-question">{{ question }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="chat-messages" id="chat-messages">
            <div class="chat-logo" id="chat-logo">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="GuminAI 로고">
                <p>안녕하세요! GuminAI입니다. 무엇을 도와드릴까요?</p>
            </div>
        </div>
        <div class="chat-input">
            <textarea id="chat-input" placeholder="메시지를 입력하세요" rows="1"></textarea>
            <button id="send-button">
                <img src="{{ url_for('static', filename='images/send_icon.png') }}" alt="Send">
            </button>
        </div>
    </div>
    <script>
        // Flask에서 전달된 모델 정보를 JavaScript 변수로 변환
        const modelDescriptions = {{ models | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
